body
{
    background-image: url(../images/bg.jpg);
    background-size: cover;

}
.mycard
{
 min-height: 400px;
 background: rgb(2,0,36);
/* background: background: rgb(2,0,36); */
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);
box-sizing: border-box;
padding: 25px;
}
